#Data Science Tools and Ecosystem#

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*Create a code cell to multiply and add numbers
*List three development environment open source tools used in data science
*List data science libraries
*list data science languages

Some of the popular languages that Data Scientists use are:
1.Java
2.R
3.Python

Some of the commonly used libraries used by Data Scientists include:
1.TensorFlo
2.NumPy
3.Pandas

|Data Science Tools|
--------------------
|Git|
|Spark|
|Hadoop|

###Below are a few examples of evaluating arithmetic expressions in Python###

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

his will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

##Author##
Jeremy Bramlett